* {
  margin: 0 px;
  box-sizing: border-box;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.warn-tag {
  font-size: 1rem;
  background-color: cadetblue;
  color: aliceblue;
  padding: 5px 20px;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  top: 20%;
  display: none;
}

.time {
  margin: 10px;
  font-size: 4rem;
}

button {
  margin: 20px;
  border: 0px;
  padding: 15px;
  text-align: center;
  outline: none;
  position: absolute;
  bottom: 15%;
}
button:hover {
  background-color: cadetblue;
  color: beige;
}
button:active {
  background-color: orange;
  color: white;
}

p {
  display: inline;
}
